.footer {
  text-align: center;
  padding: 2rem 1.5rem;
}

.footer-title {
  font-weight: bold;
}

.footer-socials {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;  /* Black background */
  color: #fff;             /* White icon color */
  text-align: center;
  line-height: 50px;       /* Vertically centers the content */
  font-size: 24px;
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-links {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-link {
  text-decoration: none;
  color: #4b5563;
}

.footer-copyright {
  color: #4b5563;
}
