.dailyVerses.bibleText {
  font-size: 1rem;
  font-style: italic;
  color: #4b5563;
}

.dailyVerses.bibleVerse {
  font-weight: bold;
  margin-top: 1em;
}

.dailyVerses.bibleVerse a {
  color: #111827;
}
