.verse {
  background-color: #f9f9f9;
  text-align: center;
  padding: 4rem 1.5rem;
}

.verse-container {
  max-width: 800px;
  margin: 0 auto;
}

.dailyVerses.bibleText {
  font-size: 1rem;
  font-style: italic;
  color: #4b5563;
}

.dailyVerses.bibleVerse{
  font-weight: bold;
  margin-top: 1em;
}

.dailyVerses.bibleVerse a {
  text-decoration: none;
  color: #111827;
}